name: Reusable Execute Terratests

on:
    workflow_call:
        secrets:
            client_id:
                description: 'Azure Client ID'
                required: true
            subscription_id:
                description: 'Azure Subscription ID'
                required: true
            tenant_id:
                description: 'Azure Tenant ID'
                required: true
        inputs:
            module_folder:
                description: 'Folder containing the module to test, relative to the modules directory'
                required: true
                type: string
            test_folder:
                description: 'Folder containing Terratests, relative to the tests directory'
                required: true
                type: string

permissions:
    id-token: write
    contents: read

jobs:
    run-terratests:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repository
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

        - name: Set up Go
          uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
          with:
            go-version-file: 'tests/go.mod'
            cache-dependency-path: 'tests/go.mod'

        - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
          with:
            terraform_version: 1.10.3
            terraform_wrapper: false 
            
        - name: Run linter
          uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
          if: false
          with:
            version: v2.1
            working-directory: tests/${{ inputs.test_folder }}

        - name: Terraform Format Check module folder
          shell: bash
          working-directory: modules/${{ inputs.module_folder }}
          run: terraform fmt -check

        - name: Terraform Format Check test folder
          shell: bash
          working-directory: tests/${{ inputs.test_folder }}
          run: terraform fmt -check
          
        - name: Azure login
          uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
          with:
            client-id: ${{ secrets.client_id }}
            tenant-id: ${{ secrets.tenant_id }}
            subscription-id: ${{ secrets.subscription_id }}
            
        - name: Run Terratests
          env:
            ARM_CLIENT_ID: ${{ secrets.client_id }}
            ARM_SUBSCRIPTION_ID: ${{ secrets.subscription_id }}
            ARM_TENANT_ID: ${{ secrets.tenant_id }}
            ARM_USE_OIDC: true
          working-directory: tests/${{ inputs.test_folder }}
          run: |
            go test -v ./... -timeout 30m -count=1